{% extends "base.html" %}
{% block content %}
    {% if state %}
        {% if result|length > 0 %}
            {% for item in result %}
                <strong>{{ item["key"] }} :</strong><br />
                {% if item["value"]|length > 0 %}
                    {% for value in item["value"] %}
                        {{ value }}<br />
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        <strong>Not Found</strong>
    {% endif %}
{% endblock %}
